{{ $resources := .Page.Resources }}
{{ $ergodox := $resources.Match "ergodox*" }}

{{ range $ergodox }}
  {{ $config_name := replace .Name "ergodox_ez_chris-s-layout_" "" }}
  {{ $config_name := replace $config_name ".hex" "" }}
  {{ $config_name := replace $config_name "_" "/" }}
  <ul>
    <li><a href="{{ .Permalink }}" download>Download keyboard layout</a></li>
    <li><a href="https://configure.ergodox-ez.com/ergodox-ez/layouts/{{ $config_name }}/0">Configure keyboard layout</a></li>
  </ul>
{{ end }}
