<div class="record">
  {{ with .Resources.ByType "image" }}
    {{ range . }}
      {{ $image := .Fill "100x100" }}
      <img class="record__cover" src="{{ $image.Permalink }}" alt="Cover art for {{ .Title }}" width="100" height="100">
    {{ end }}
  {{ end }}
  <div class="record__data">
    <p>
      {{ range .Params.artists }}
        <a href="/artists/{{ .|urlize }}">{{ . }}</a>
      {{ end }}
      – {{ title .Title }} ({{ .Params.format }})
    </p>
    <p>Year: {{ .Params.year }}</p>
    <p>Bought: {{ .Params.condition }}</p>
  </div>
</div>
