# Redirect all traffic to www
chrisdeluca.me {
  redir 301 {
    / https://www.chrisdeluca.me{uri}
  }
}

# Main configuration
www.chrisdeluca.me {

  # Server root
  root /usr/local/www/html

  # Enable gzip compression
  gzip

  # Redirect all insecure traffic to TLS
  redir 304 {
    if {X-Forwarded-Proto} is http
    / https://www.chrisdeluca.me{uri}
  }

  # Log access
  log / /var/log/caddy/access.log "{combined}" {
    rotate_size 100 # Rotate after 100 MB
    rotate_age  15  # Keep rotated files for 15 days
    rotate_keep 10  # Keep at most 10 log files
  }

  # Error logging and error pages
  errors /var/log/caddy/error.log {
    rotate_size 50 # Rotate after 50 MB
    rotate_age  30 # Keep rotated files for 30 days
    rotate_keep 5  # Keep at most 5 log files
  }

  # Cache expires rules
  expires {
    match .css$ 1y
    match .js$ 1y
    match .png$ 1y
    match .jpg$ 1y
    match .gif$ 1y
    match .svg$ 1y
    match .pdf 1y
    match .html$ 1d
  }

  # Custom headers
  header / {
    # Enable HTTP Strict Transport Security (HSTS) to force clients to always
    # connect via HTTPS (do not use if only testing)
    Strict-Transport-Security "max-age=31536000;"
    # Enable cross-site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"
    # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
    X-Content-Type-Options "nosniff"
    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"
    # Add a content security policy:
    Content-Security-Policy "default-src 'self'; script-src 'self' www.youtube.com; frame-src 'self' www.youtube.com"
  }

}

# Gwen Gween domain redirect
gwengween.com {
  redir 301 {
    / https://www.gwengween.com{uri}
  }
}

# Gwen Gween domain configuration
www.gwengween.com {
  # Server root
  root /usr/local/www/gwengween.com
  # Turn on gzip
  gzip
}

# vim set ft=conf
