##################
# chrisdeluca.me #
##################

# Redirect all traffic to www
chrisdeluca.me {
    redir 301 {
        / https://www.chrisdeluca.me{uri}
    }
}

# Main chrisdeluca.me configuration
www.chrisdeluca.me {

    # Server root
    root /usr/local/www/chrisdeluca

    # Enable gzip compression
    gzip

    # Redirect all insecure traffic to TLS
    redir 304 {
        if {X-Forwarded-Proto} is http
        / https://www.chrisdeluca.me{uri}
    }

    # Log access
    log / /var/log/caddy/access.log "{combined}" {
        rotate_size 100 # Rotate after 100 MB
        rotate_age  15  # Keep rotated files for 15 days
        rotate_keep 10  # Keep at most 10 log files
    }

    # Error logging and error pages
    errors /var/log/caddy/error.log {
        rotate_size 50 # Rotate after 50 MB
        rotate_age  30 # Keep rotated files for 30 days
        rotate_keep 5  # Keep at most 5 log files
        404 404.html # Not Fount
        500 500.html # Internal Server Error
    }

    # Cache expires rules
    expires {
        match .css$ 1y
        match .js$ 1y
        match .png$ 1y
        match .jpg$ 1y
        match .gif$ 1y
        match .svg$ 1y
        match .pdf 1y
        match .html$ 1d
    }

    # Custom headers
    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Add a content security policy:
        Content-Security-Policy "default-src 'self'; script-src 'self' www.youtube.com webmention.io; frame-src 'self' www.youtube.com"
    }

    # Set the correct mime type for web manifest files.
    mime .webmanifest application/manifest+json

}

#################
# gwengween.com #
#################

# Gwen Gween domain redirect
gwengween.com {
    redir 301 {
        / https://www.gwengween.com{uri}
    }
}

# Gwen Gween domain configuration
www.gwengween.com {
    # Server root
    root /usr/local/www/gwengween.com
    # Turn on gzip
    gzip
}

########################
# patricialhorvath.com #
########################

# Redirect all www traffic to base domain
www.patricialhorvath.com {
    redir 301 {
        / https://patricialhorvath.com{uri}
    }
}

# Main domain configuration
patricialhorvath.com {
    # Server root
    root /usr/local/www/patriciahorvath
    # Turn on gzip
    gzip
}

####################
# swiftglidden.com #
####################

# Swift Glidden domain redirect
www.swiftglidden.com {
    redir 301 {
        / https://swiftglidden.com{uri}
    }
}

# Swift Glidden domain configuration
swiftglidden.com {
    # Server root
    root /usr/local/www/swiftglidden.com
    # Turn on gzip
    gzip

    # Cache expires rules
    expires {
        match .css$ 1y
        match .js$ 1y
        match .png$ 1y
        match .jpg$ 1y
        match .gif$ 1y
        match .svg$ 1y
        match .pdf 1y
        match .html$ 1d
    }

    # Custom headers
    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Add a content security policy:
        # Content-Security-Policy "default-src 'self'; script-src 'self' www.youtube.com; frame-src 'self' www.youtube.com; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
    }

}

####################
# duncecap.nyc     #
####################

# Dunce Cap domain redirect
www.duncecap.nyc {
    redir 301 {
        / https://duncecap.nyc{uri}
    }
}

duncecap.nyc {
    # Server root
    root /usr/local/www/duncecap

    # Enable gzip compression
    gzip

    # Log access
    log / /var/log/caddy/duncecap/access.log "{combined}" {
        rotate_size 100 # Rotate after 100 MB
        rotate_age  15  # Keep rotated files for 15 days
        rotate_keep 10  # Keep at most 10 log files
    }

    # Error logging and error pages
    errors /var/log/caddy/duncecap/error.log {
        rotate_size 50 # Rotate after 50 MB
        rotate_age  30 # Keep rotated files for 30 days
        rotate_keep 5  # Keep at most 5 log files
        404 404.html # Not Fount
        500 500.html # Internal Server Error
    }

    # Cache expires rules
    expires {
        match .css$ 1y
        match .js$ 1y
        match .png$ 1y
        match .jpg$ 1y
        match .gif$ 1y
        match .svg$ 1y
        match .pdf 1y
        match .html$ 1d
    }

    # Custom headers
    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Add a content security policy:
        Content-Security-Policy "default-src 'self'; script-src 'self' www.youtube.com; frame-src 'self' www.youtube.com"
    }

    # Set the correct mime type for web manifest files.
    mime .webmanifest application/manifest+json

}

#####################
# de-evolution.band #
#####################

# De Evolution domain redirect
www.de-evolution.band {
    redir 301 {
        / https://de-evolution.band{uri}
    }
}

de-evolution.band {
    # Server root
    root /usr/local/www/de-evolution

    # Enable gzip compression
    gzip

    # Log access
    log / /var/log/caddy/de-evolution/access.log "{combined}" {
        rotate_size 100 # Rotate after 100 MB
        rotate_age  15  # Keep rotated files for 15 days
        rotate_keep 10  # Keep at most 10 log files
    }

    # Error logging and error pages
    errors /var/log/caddy/de-evolution/error.log {
        rotate_size 50 # Rotate after 50 MB
        rotate_age  30 # Keep rotated files for 30 days
        rotate_keep 5  # Keep at most 5 log files
        404 404.html # Not Fount
        500 500.html # Internal Server Error
    }

    # Cache expires rules
    expires {
        match .css$ 1y
        match .js$ 1y
        match .png$ 1y
        match .jpg$ 1y
        match .gif$ 1y
        match .svg$ 1y
        match .pdf 1y
        match .html$ 1d
    }

    # Custom headers
    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Add a content security policy:
        Content-Security-Policy: "default-src 'none'; script-src 'self' https-de-evolution-band.disqus.com www.youtube.com; object-src 'none'; style-src 'self'; img-src 'self'; media-src 'self' www.youtube.com; frame-src 'self' www.youtube.com; font-src 'self'; connect-src 'none'"
        X-Content-Security-Policy: "default-src 'none'; script-src 'self' https-de-evolution-band.disqus.com www.youtube.com; object-src 'none'; style-src 'self'; img-src 'self'; media-src 'self' www.youtube.com; frame-src 'self' www.youtube.com; font-src 'self'; connect-src 'none'"
        X-WebKit-CSP: "default-src 'none'; script-src 'self' https-de-evolution-band.disqus.com www.youtube.com; object-src 'none'; style-src 'self'; img-src 'self'; media-src 'self' www.youtube.com; frame-src 'self' www.youtube.com; font-src 'self'; connect-src 'none'"
    }

    # Set the correct mime type for web manifest files.
    mime .webmanifest application/manifest+json

}

# vim set ft=conf
