{{ define "main" }}

  <div class="projects">
    <h2>My Projects</h2>
    {{ $projects := first 3 (where .Site.RegularPages "Type" "project") }}
    {{ $firstProject := index $projects 0 }}
    {{ $secondProject := index $projects 1 }}
    {{ $thirdProject := index $projects 2 }}
    {{ with $firstProject }}
      {{ .Render "featured" }}
    {{ end }}
    {{ with $secondProject }}
      {{ .Render "summary" }}
    {{ end }}
    {{ with $thirdProject }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ partial "h-card.html" . }}

  <div class="articles">
    <h2>Latest articles</h2>
    {{ $articles := first 3 (where .Site.RegularPages "Type" "article") }}
    {{ $firstArticle := index $articles 0 }}
    {{ $secondArticle := index $articles 1 }}
    {{ $thirdArticle := index $articles 2 }}
    {{ with $firstArticle }}
      {{ .Render "featured" }}
    {{ end }}
    {{ with $secondArticle }}
      {{ .Render "summary" }}
    {{ end }}
    {{ with $thirdArticle }}
      {{ .Render "summary" }}
    {{ end }}
    <p class="see-more"><a href="/article">See all articles</a></p>
  </div>

  <div class="notes">
    <h2>Latest notes (micro posts)</h2>
    {{ range first 6 (where .Site.RegularPages "Type" "note") }}
      {{ .Render "summary" }}
    {{ end }}
    <p class="see-more"><a href="/note">See all notes</a></p>
  </div>

  <div class="reading">
    <h2>What I'm reading</h2>
    {{ range first 3 (where .Site.RegularPages "Type" "book") }}
      {{ .Render "summary" }}
    {{ end }}
    <p class="see-more"><a href="/book">See all books</a></p>
  </div>

{{ end }}
