{{ define "main" }}

  <h2>My Projects</h2>
  {{ $projects := first 3 (where .Site.RegularPages "Type" "project") }}
  {{ $firstProject := index $projects 0 }}
  {{ $secondProject := index $projects 1 }}
  {{ with $firstProject }}
    {{ .Render "featured" }}
  {{ end }}
  {{ with $secondProject }}
    {{ .Render "summary" }}
  {{ end }}
  <p class="see-more"><a href="/project">See all projects</a></p>

  <h2>Latest articles</h2>
  {{ $articles := first 3 (where .Site.RegularPages "Type" "article") }}
  {{ range $articles }}
    {{ .Render "summary" }}
  {{ end }}
  <p class="see-more"><a href="/article">See all articles</a></p>

  {{ partial "h-card.html" . }}

{{ end }}
