{{ define "main" }}

  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ partial "article-info.html" . }}
    </header>

    {{ if .Params.toc }}
      {{ .TableOfContents }}
    {{ end }}

    {{ .Content }}

    <footer>
      <nav>
        <ul class="pagination article-navigation">
          {{ if .PrevInSection }}
            <li class="pagination__item pagination__prev article-navigation__item article-navigation__prev">
              <a title="Previous {{ .Type }}" href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a>
            </li>
          {{ end }}

          {{ if .NextInSection }}
            <li class="pagination__item pagination__next article-navigation__item article-navigation__next">
              <a title="Next {{ .Type }}" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </footer>
  </article>

{{ end }}
