{{ define "main" }}

  <article>
    <header>
      <h2>
        {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
        {{ .Title }}
      </h2>
      {{ if .Params.subtitle }}<p>{{ .Params.subtitle }}</p>{{ end }}
      {{ partial "article-info.html" . }}

      {{ if .IsPage }}
        {{ if .Params.toc }}
          <details>
            <summary>Table of Contents</summary>
            {{ .TableOfContents }}
          </details>
        {{ end }}
      {{ end }}
    </header>

    {{ .Content }}

    <footer>
      <nav>
        <ul class="pagination article-navigation">
          {{ if .PrevInSection }}
            <li class="pagination__item pagination__prev article-navigation__item article-navigation__prev">
              <a title="Previous {{ .Type }}" href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a>
            </li>
          {{ end }}

          {{ if .NextInSection }}
            <li class="pagination__item pagination__next article-navigation__item article-navigation__next">
              <a title="Next {{ .Type }}" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </footer>
  </article>

{{ end }}
