{{ define "main" }}

  <article class="h-entry article{{ range .Params.categories }} article--{{ .|lower }}{{ end }}">
    <header>
      <h1 class="p-name">
        {{ if .Resources.Match "game/*" }}{{ emojify ":joystick:" }}{{ end }}
        {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
        {{ .Title }}
      </h1>

      {{ if .Params.subtitle }}<p>{{ .Params.subtitle }}</p>{{ end }}

      <div class="article-info meta-info">
        <div class="u-author h-card"><a class="p-name u-url" href="/">{{ .Site.Author.name }}</a></div>
        <div class="article-info__published">
          Published <a class="u-url" href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></a>
          {{ if .Params.categories }}
            in
            {{ range .Params.categories }}
              <a class="p-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          {{ end }}

          {{ if .Params.topics }}
            <div class="article-info__topics">
              {{ $topicsCount := len ( .Params.topics ) }}
              {{ if gt $topicsCount 1 }}
                Topics:
              {{ end }}
              {{ if eq $topicsCount 1 }}
                Topic:
              {{ end }}
              <ul>
                {{ range .Params.topics }}
                  <li><a class="p-category" href="/topics/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>

        {{ if .Resources.Match "game/*" }}{{ else }}<div class="article-info__reading">Reading time: {{ .ReadingTime }} {{ if gt .ReadingTime 1 }}minutes{{ end }}{{ if eq .ReadingTime 1 }}minute{{ end }}</div>{{ end }}
      </div>

      {{ $headerResource := .Page.Resources.GetMatch "header" }}
      {{ if $headerResource }}
        {{ $headerImage := $headerResource.Fill "900x400" }}
        <figure>
          <img src="{{ $headerImage.RelPermalink }}" srcset="" alt="{{ $headerImage.Title }}" title="{{ $headerImage.Title }}" width="{{ $headerImage.Width }}" height="{{ $headerImage.Height }}">
        </figure>
      {{ end }}

      {{ partial "toc" . }}

      {{ if .Resources.Match "game/*" }}
        <details>
          <summary id="achievements-headline">🏆 Achievements</summary>
          <ol id="achievements-list" class="achievements-list"></ol>
        </details>
      {{ end }}
    </header>

    <div class="e-content">{{ .Content }}</div>

    {{ partial "syndicated.html" . }}

    {{ with .Resources.Match "game/*" }}
      {{ range $index, $value := . }}
        {{ $id := replace .Name "game/" "-" }}
        <div id="game-scene{{ replace $id ".md" "" }}" class="game-scene"{{ if gt $index 0 }} hidden{{ end }}>
          {{ .Content }}
          <div class="game-buttons">
            {{ if .Params.is_terminal }}
              <button class="game-button" data-target-id="restart">Try again</button>
            {{ else }}
              {{ range .Params }}
                {{ if isset . "id" }}
                  <button
                    class="game-button"
                    data-target-id="game-scene-{{ .id }}"
                    {{ with .achievement }}
                      data-achievement-text="{{ .text }}"
                      data-achievement-type="{{ .type }}"
                    {{ end }}
                  >
                    {{ .text }}
                  </button>
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
      <aside id="achievement" class="achievement" data-achievement-type="good">
        <h3 class="achievement__headline">Achievement unlocked!</h3>
        <p id="achievement-message" class="achievement__message"></p>
      </aside>
      <aside id="achievement-max" class="achievement achievement--max">
        <h3 class="achievement__headline">⭐️ You fully beat the game!</h3>
        <p id="achievement-message" class="achievement__message">Congradulations! You followed <em>every</em> possible path. The ultimate winner is you!</p>
        <button>Nice!</button>
      </aside>
    {{ end }}

    <footer>
      {{ partial "pagination.html" . }}
    </footer>
  </article>

{{ end }}
