<article>
  <h3><a href="{{ .Permalink }}">
    {{ if .Resources.Match "game/*" }}{{ emojify ":joystick:" }}{{ end }}
    {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
    {{ title .Title }}
  </a></h3>
  <p class="meta-info">
    Published <a class="u-url" href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></a>
    {{ if .Params.categories }}
      in
      {{ range .Params.categories }}
        <a class="p-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </p>
  <p>{{ .Summary|plainify|htmlUnescape }}</p>
</article>
