/* General {{{ */

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1em;
}

body {
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 35em;
  margin: 0px auto;
  padding: 1em;
  background-color: #fdfcfa;
  color: #191919;
}

@media screen and (min-width: 28em) {
  body {
    font-size: 1.4em;
  }
}

section + section,
article + article {
  margin-top: 2em;
}

pre, code, kbd, samp {
  font-family: "Fira Code", Menlo, Courier, monospace, monospace;
  font-size: 0.70em;
  word-wrap: anywhere;
}

hr {
  width: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom-style: hidden;
  color: #191919;
}

abbr {
  cursor: help;
}

button {
  padding: 1em;
  background-color: #fdfcfa;
  border: 2px solid #191919;
  cursor: pointer;
}

button + button {
  margin-top: 1em;
}

button:hover {
  color: #fdfcfa;
  background-color: #2473d1;
}

button[disabled]:hover,
button[disabled] {
  cursor: not-allowed;
  color: #9d9d9d;
  border-color: currentColor;
}

button[disabled]:hover {
  background-color: #fdfcfa;
}

.game-button[data-target-id="restart"]::after {
  content: "?";
}

.game-button[data-target-id="restart"]:hover::after {
  content: "!";
}

.game-button--selected[disabled]:hover,
.game-button--selected:hover,
.game-button--selected {
  background-color: #f0f8ff;
}

/* }}} */

/* Headings {{{ */

div + p,
header + * {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
  clear: both;
}

body > header h1,
body > header h2 {
  margin-top: 0px;
  font-size: 2em;
}

/* Subtitles */
header h1 + p,
header h2 + p {
  font-size: 1.3em;
}

body > header {
  text-align: center;
}

body > header p {
  color: #666;
  font-style: italic;
}

/* }}} */

/* Paragraphs {{{ */

p {
  margin: 0px;
}

p + p {
  text-indent: 4ch;
}

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
  .page article header + p::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3;
    margin-right: 0.5ch;
    color: #ff725c;
  }
  .page .article--links header + p::first-letter {
    -webkit-initial-letter: 1;
    letter: 1;
    margin-right: auto;
    color: initial;
  }
}

.page article > p:last-of-type:after {
  content: ' ◆';
  color: #ff725c;
}

.screenplay p:last-of-type:after,
.page header p:last-of-type:after {
  content: none;
}

/* }}} */

/* Lists {{{ */

ol,
ul {
  padding-left: 4ch;
  list-style-position: outside;
}

li + li {
  margin-top: 0px;
}

dt {
  font-weight: 700;
}

dd img {
  max-width: none;
  margin-left: initial;
  margin-right: initial;
}

#skills + ul::before {
  content: "Proficient in:"
}

#skills + ul li {
  list-style-type: none;
  display: inline-block;
}

#skills + ul li::after {
  content: ", ";
}

#skills + ul li:last-of-type::before {
  content: "and ";
}

#skills + ul li:last-of-type::after {
  content: ".";
}

/* }}} */

/* Links {{{ */

a:link,
a:active,
a:focus,
a:visited {
  color: #2473d1;
  text-decoration: none;
  border-bottom: 0.075em dotted #2473d1;
}

a:hover {
  border-bottom: 0.075em solid #2473d1;
}

/* TODO: Fix external link icons from displaying wonky inline */
/* a:after { */
/*   width: 0.6em; */
/*   height: 0.6em; */
/*   display: inline-block; */
/*   margin-left: 0.25ch; */
/*   content: url(/images/external-link.svg); */
/* } */

/* a[href^="https://www.chrisdeluca.me"]:after, */
/* a[href^="/"]:after, */
/* a[href^="#"]:after, */
/* .social-links a:after, */
/* a[href^="http://localhost:1313"]:after { */
/*   content: none; */
/*   display: none; */
/* } */

/* }}} */

/* Images {{{ */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figure img {
  filter: drop-shadow(0.15em 0.15em 0.1em #eee);
}

header > figure {
  margin-left: -1em;
  margin-right: -1em;
}

@media screen and (min-width: 58em) {
  header > figure {
    margin-left: -4em;
    margin-right: -4em;
  }
}

figcaption {
  font-size: 0.75em;
  text-align: center;
  font-style: italic;
}

svg {
  max-width: 100%;
  fill: currentColor;
}

.portrait {
  shape-outside: url('/images/chris-portrait.png');
  shape-margin: 1em;
}

/* }}} */

/* Tables {{{ */

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-collapse: collapse;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

td, th {
  padding: 0.5em 1ch;
  min-width: calc(100px + 4ch);
}

th {
  text-align: left;
  background-color: #ff725c;
}

th + th:last-child,
td + td:last-child {
  border-right: 0px none;
}

thead tr,
tr:nth-child(even) {
  background-color: #efefef;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

/* }}} */

/* Pre-formatted {{{ */

samp, kbd,
pre, code {
  padding: 0.5ch;
  background-color: #efefef;
}

pre {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

kbd {
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 0.25ch;
  border: 1px solid #ccc;
  filter: drop-shadow(0 0.15em 0 #ccc);
  background-color: #fcfcfc;
}

.chroma code {
  padding: 0px;
  font-size: 0.95em;
  background-color: transparent;
}

/* }}} */

/* Quotes {{{ */

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  margin: 2em;
}

blockquote::before {
  content: '“';
  float: left;
  height: 1px;
  display: block;
  font-size: 5em;
  font-family: Georgia, sans-serif;
  line-height: 0.75;
  margin-right: 0.25ch;
  color: #ff725c;
}

/* }}} */

/* Footers (and navigation) {{{ */

footer {
  margin-top: 4em;
}

body > footer {
  text-align: center;
  font-size: 0.85em;
}

body > footer small {
  margin-top: 4em;
  display: block;
}

nav ul,
article footer ul {
  padding: 0px;
}

.pagination,
nav li,
article footer li {
  list-style-type: none;
}

/* }}} */

/* Navigation {{{ */

nav li {
  display: inline-block;
}

nav li + li {
  margin-left: 1em;
}

article footer ul,
article footer li {
  display: inline;
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pagination__item--next {
  text-align: right;
  margin-left: auto;
}

.pagination__item-label {
  font-size: 0.85em;
}

.pagination__item-label--next {
  text-align: right;
}

/* }}} */

/* Table of Contents {{{ */

#TableOfContents ul {
  display: block;
  margin-top: 0px;
  padding-left: 2em;
}

#TableOfContents > ul {
  padding: 0px;
}

#TableOfContents li li {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
}

/* }}} */

/* Details/Summary {{{ */

details {
  margin-bottom: 1em;
}

summary {
  font-weight: 700;
  cursor: pointer;
}

/* }}} */

/* Article info {{{ */

.article-info {
  font-size: 0.85em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.article-info * + * {
  margin-top: 0px;
}

.article-info ul,
.article-info li {
  display: inline;
}

.article-info ul {
  padding-left: 0.5ch;
}

.article-info__topics li:after {
  content: ', ';
}

.article-info__topics li:last-of-type:before {
  content: ' and ';
}

.article-info__topics li:last-of-type:after {
  content: '';
}

.article-info__topics li:first-of-type:before {
  content: '';
}

/* }}} */

/* Comments {{{ */

.comments {
  font-size: 0.75em;
}

.comment {
  display: flex;
  flex-flow: row nowrap;
}

.comment__photo {
  flex: 0 0 50px;
  height: 50px;
  margin: 0px 2ch 0px 0px;
}

.comment__content {
  margin-top: 0px;
}

.comment__content--secondary,
.comment__author {
  font-size: 0.85em;
}

.comment__message {
  text-indent: 0px
}

/* }}} */

/* Achievements {{{ */

.achievement {
  padding: 1em;
  border: 2px solid #32cd32;
  background-color: #90ee90;
  opacity: 0;
  position: fixed;
  top: -7em;
  right: 1em;
  transition: opacity 150ms, transform 200ms;
}

.achievement[data-achievement-type="bad"] {
  background-color: #ff4136;
  border-color: #85144b;
}

.achievement--active {
  opacity: 1;
  transform: translateY(8em);
}

.achievement__headline {
  margin-top: 0px;
}

.achievements-list:empty::after {
  content: 'You got zilch.';
}

/* }}} */

/* Social links {{{ */

.social-links a {
  border-bottom: none;
}

.social-links a:hover {
  background-color: transparent;
}

.social-links svg {
  width: 1.2em;
}

.social-link__twitter a:hover path {
  fill: #55acee;
}

.social-link__github a:hover path {
  fill: #4078c0;
}

.social-link__stackoverflow a:hover path {
  fill: #fe7a15;
}

.social-link__facebook a:hover path:first-child {
  fill: #395185;
}

.social-link__keybase a:hover path {
  fill: #ff7100;
}

.social-link__drupal a:hover path {
  fill: #0077c0;
}

.social-link__drupal a:hover path:nth-child(2),
.social-link__drupal a:hover path:nth-child(3),
.social-link__drupal a:hover path:nth-child(4),
.social-link__drupal a:hover path:nth-child(5),
.social-link__drupal a:hover path:nth-child(7),
.social-link__drupal a:hover path:nth-child(8) {
  fill: #f0f0f0;
}

.social-link__instagram a:hover path {
  fill: #cc39a2;
}

.social-link__youtube a:hover path:last-of-type {
  fill: #e52d27;
}

#back-to-top {
  position: fixed;
  top: 1em;
  left: 1em;
}

/* }}} */

/* h-card {{{ */

.h-card {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
}

.h-card__photo {
  flex: 1 0 30ch;
  margin-right: 2ch;
}

.h-card__content {
  flex: 999 1 0px;
}

/* }}} */

/* Utils {{{ */

.align-left,
.align-right {
  margin-bottom: 1em;
}

.align-left {
  float: left;
  margin-right: 2ch;
}

.align-right {
  float: right;
  margin-left: 2ch;
}

@media screen and (max-width: 28em) {
  .align-left,
  .align-right {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.align-right + *,
.align-left + * {
  margin-top: 1em;
}

.responsive-table {
  overflow-x: scroll;
}

/* }}} */

/* Syntax highlighting {{{ */

.highlight {
  padding: 0px 2ch;
  overflow-x: scroll;
}

/* Background */
.highlight, .chroma {
  color: #f8f8f2;
  background-color: #272822;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* }}} */

/* Dark theme {{{ */

@media (prefers-color-scheme: dark) {

  body {
    background-color: #2f2f2f;
    color: #d9d9d9;
  }

  body > header p {
    color: #747474;
  }

  a:link,
  a:active,
  a:focus,
  a:visited {
    color: #4696ff;
    border-bottom-color: #4696ff;
  }

  figure img {
    filter: drop-shadow(0.15em 0.15em 0.1em #424242);
  }

  tr:nth-child(2n),
  samp,
  pre,
  kbd,
  code {
    background-color: #5f5f5f;
  }

  hr {
    color: #d9d9d9;
  }

  .achievement {
    color: #191919;
  }
}

/* }}} */

/* vim: fdm=marker
 */
