{{ define "main" }}

  <section class="note h-entry">

    <p class="note-content p-content">{{ .Content | markdownify }}</p>

    <p class="meta-info">Published
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "Jan 02, 2006 15:04:05 MST" }}
      </time>
    </p>

    {{ if .Params.syndicated }}
      <h2>This post syndicated to:</h2>
      {{ range .Params.syndicated }}
        <ul>
          <li><a class="u-syndication" href="{{ . }}">{{ . }}</a></li>
        </ul>
      {{ end }}
    {{ end }}

    <footer>
      <a href="/note">&larr; All notes</a>
    </footer>
  </section>

{{ end }}
