<article class="featured featured--small">
  {{ $headerImage := .Resources.GetMatch "header" }}
  {{ if $headerImage }}
    {{ $headerImage := $headerImage.Fill "100x100" }}
    <img class="featured__image" width="100" height="100" src="{{ $headerImage.Permalink }}" alt="{{ $headerImage.Name }}">
  {{ end }}
  <div class="featured__content-wrapper">
    <h3><a href="{{ .Params.project_url }}">
      {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
      {{ title .Title }}
    </a></h3>
    <p>{{ .Summary|plainify|htmlUnescape }}</p>
  </div>
</article>
