{{ define "main" }}

  <section>
    <header>
      <h1>
        {{ with .Params.read }}
          {{ if not .end }}📖{{ end }}
          {{ if .end }}{{ if not .gaveup }}📚{{ end }}{{ end }}
          {{ if .gaveup }}📕{{ end }}
        {{ end }}
        {{ if .Content }}✏️{{ end }}
        {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
        {{ title .Title }}
      </h1>
      {{ if .Params.subtitle }}<p>{{ .Params.subtitle }}</p>{{ end }}
      <p>by {{ .Params.author }}</p>
      {{ with .Params.read }}
        <p>Started reading on <time class="dt-published" datetime="{{ .start.Format "2006-01-02T15:04:05Z07:00" }}">{{ .start.Format "January 2, 2006" }}</time></p>
        {{ if .end }}
          <p>{{ if gt .gaveup 0 }}Gave up reading{{ else }}Finished the book{{ end }} on <time class="dt-published" datetime="{{ .end.Format "2006-01-02T15:04:05Z07:00" }}">{{ .end.Format "January 2, 2006" }}</time>{{ if gt .gaveup 0 }}, after {{ .gaveup }} pages{{ end }}</p>
          {{ $delta := .end.Sub .start }}
          {{ $days := math.Round (div $delta.Hours 24) }}
          <p>Completed in {{ if gt $days 0 }}{{ $days }} days{{ else }}a day{{ end }}</p>
        {{ end }}
      {{ end }}
      {{ partial "toc" . }}
    </header>

    {{ .Content }}

    <footer>
      <a href="/{{ .Type }}">&larr; See all {{ .Type | pluralize }}</a>
    </footer>
  </section>

{{ end }}
