.archive_categories {
  margin-bottom: 30px;
}

.archive_years {
  margin-bottom: 30px;
}

.archive_categories p {
  line-height: 1.8em;
}

.archive_years select {
  padding: 5px;
  background-color: #EFEFEF;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1em;
}

.archive_posts img {
  display: block;
  height: 50px;
  width: auto;
}
