* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

* + * {
  margin-top: 1em;
}

body {
  max-width: 35em;
  margin: 0px auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

body > footer {
  margin-top: 3em;
  text-align: center;
}

p {
  margin: 0px;
}

* + p {
  text-indent: 2em;
}

p:first-of-type {
  margin-top: 1em;
  text-indent: 0px;
}

.article-info {
  margin-top: 0px;
  font-size: 0.85em;
}
