/**
 * General
 */

body {
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
  font-size: 1.2em;
  line-height: 1.6;
  background-color: #fdfcfa;
  color: #191919;
}

@media screen and (min-width: 28em) {
  body {
    font-size: 1.4em;
  }
}

pre, code, kbd, samp {
  font-family: Menlo, Courier, monospace, monospace;
  font-size: 0.70em;
}

hr {
  width: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom-style: hidden;
  color: #191919;
}

abbr {
  cursor: help;
}

/**
 * Headings
 */

body > header {
  text-align: center;
}

body > header p {
  color: #666;
  font-style: italic;
}

/**
 * Paragraphs
 */

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
  section header + p::first-letter,
  article header + p::first-letter {
     -webkit-initial-letter: 3;
     initial-letter: 3;
     margin-right: 0.5ch;
     color: #ff725c;
  }
}

.page article > p:last-of-type:after {
  content: ' ◆';
  color: #ff725c;
}

.screenplay p:last-of-type:after,
.page header p:last-of-type:after {
  content: none;
}

/**
 * Links
 */

a:link,
a:active,
a:focus,
a:visited {
  color: #357edd;
  text-decoration: none;
  border-bottom: 0.075em dotted #357edd;
  transition: background-color 200ms ease;
}

a:hover {
  background-color: rgba(53, 126, 221, 0.05);
}

a:after {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  margin-left: 0.25ch;
  content: url(/images/external-link.svg);
}

a[href^="https://www.chrisdeluca.me"]:after,
a[href^="/"]:after,
a[href^="#"]:after,
.social-links a:after,
a[href^="http://localhost:1313"]:after {
  content: none;
  display: none;
}

/**
 * Images.
 */

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figure img {
  filter: drop-shadow(0.15em 0.15em 0.1em #eee);
}

/**
 * Tables.
 */

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-collapse: collapse;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

td, th {
  padding: 0.5em 1ch;
  min-width: calc(100px + 4ch);
}

th {
  text-align: left;
  background-color: #ff725c;
}

th + th:last-child,
td + td:last-child {
  border-right: 0px none;
}

thead tr,
tr:nth-child(even) {
  background-color: #efefef;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

/**
 * Pre-formatted.
 */

samp, kbd,
pre, code {
  padding: 0.5ch;
  background-color: #efefef;
}

pre {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

kbd {
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 0.25ch;
  border: 1px solid #ccc;
  filter: drop-shadow(0 0.15em 0 #ccc);
  background-color: #fcfcfc;
}

.chroma code {
  padding: 0px;
  font-size: 0.95em;
  background-color: transparent;
}

/**
 * Quotes
 */

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  margin: 2em;
}

blockquote::before {
  content: '“';
  float: left;
  height: 1px;
  display: block;
  font-size: 5em;
  font-family: Georgia, sans-serif;
  line-height: 0.75;
  margin-right: 0.25ch;
  color: #ff725c;
}

/**
 * Table of Contents
 */

#TableOfContents ul {
  display: block;
  margin-top: 0px;
  padding-left: 2em;
}

#TableOfContents > ul {
  padding: 0px;
}

/**
 * Details/Summary
 */

details {
  margin-bottom: 1em;
}

summary {
  font-weight: 700;
  cursor: pointer;
}

/**
 * Article info.
 */

.article-info__topics li:after {
  content: ', ';
}

.article-info__topics li:last-of-type:before {
  content: ' and ';
}

.article-info__topics li:last-of-type:after {
  content: '';
}

.article-info__topics li:first-of-type:before {
  content: '';
}

/**
 * Images.
 */

.portrait {
  shape-outside: url('/images/chris-portrait.png');
  shape-margin: 1em;
}

/**
 * Social links.
 */

.social-links a {
  border-bottom: none;
}

.social-links a:hover {
  background-color: transparent;
}

.social-links svg {
  width: 1.2em;
}

.social-links path {
  transition: fill 200ms ease;
}

.social-link__twitter a:hover path {
  fill: #55acee;
}

.social-link__github a:hover path {
  fill: #4078c0;
}

.social-link__stackoverflow a:hover path {
  fill: #fe7a15;
}

.social-link__facebook a:hover path:first-child {
  fill: #395185;
}

.social-link__keybase a:hover path {
  fill: #ff7100;
}

.social-link__drupal a:hover path {
  fill: #0077c0;
}

.social-link__drupal a:hover path:nth-child(2),
.social-link__drupal a:hover path:nth-child(3),
.social-link__drupal a:hover path:nth-child(4),
.social-link__drupal a:hover path:nth-child(5),
.social-link__drupal a:hover path:nth-child(7),
.social-link__drupal a:hover path:nth-child(8) {
  fill: #f0f0f0;
}

.social-link__instagram a:hover path {
  fill: #cc39a2;
}

.social-link__youtube a:hover path:last-of-type {
  fill: #e52d27;
}

#back-to-top {
  position: fixed;
  top: 1em;
  left: 1em;
}

/**
 * Syntax highlighting
 */

/* Background */ .highlight, .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .ss4 { color: #960050; background-color: #1e0010 }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { color: #888; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #66d9ef }
/* KeywordNamespace */ .chroma .s3eb { color: #f92672 }
/* Name */ .chroma .s7d0 {  }
/* NameAttribute */ .chroma .s7d1 { color: #a6e22e }
/* NameClass */ .chroma .s7d4 { color: #a6e22e }
/* NameConstant */ .chroma .s7d5 { color: #66d9ef }
/* NameDecorator */ .chroma .s7d6 { color: #a6e22e }
/* NameException */ .chroma .s7d8 { color: #a6e22e }
/* NameFunction */ .chroma .s7d9 { color: #a6e22e }
/* NameOther */ .chroma .s7df { color: #a6e22e }
/* NameTag */ .chroma .s7e2 { color: #f92672 }
/* Literal */ .chroma .sbb8 { color: #ae81ff }
/* LiteralDate */ .chroma .sbb9 { color: #e6db74 }
/* LiteralString */ .chroma .sc1c { color: #e6db74 }
/* LiteralStringEscape */ .chroma .sc25 { color: #ae81ff }
/* LiteralNumber */ .chroma .sc80 { color: #ae81ff }
/* Operator */ .chroma .sfa0 { color: #f92672 }
/* Punctuation */ .chroma .s1388 {  }
/* Comment */ .chroma .s1770 { color: #75715e }
/* GenericDeleted */ .chroma .s1b59 { color: #f92672 }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericInserted */ .chroma .s1b5d { color: #a6e22e }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { color: #75715e }
/* Text */ .chroma .s1f40 {  }
