/**
 * General
 */

body {
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
  font-size: 1em;
  line-height: 1.6;
  background-color: #fdfcfa;
  color: #444;
}

@media screen and (min-width: 28em) {
  body {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 30em) {
  body {
    font-size: 1.2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

pre, code, kbd, samp {
  font-family: Menlo, Courier, monospace, monospace;
  font-size: 0.80em;
}

hr {
  width: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom-style: hidden;
  color: #444;
}

small {
  color: #999;
}

/**
 * Paragraphs
 */

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  article header + p::first-letter {
     -webkit-initial-letter: 2;
     initial-letter: 2;
     margin-right: 0.5ch;
     color: #d1642a;
  }
}

/**
 * Links
 */

a:link,
a:active,
a:focus,
a:visited {
  color: #2996D2;
  text-decoration: none;
  border-bottom: 0.075em dotted #2996D2;
  transition: background-color 200ms ease;
}

a:hover {
  background-color: rgba(41, 150, 210, 0.05);
}

/**
 * Images.
 */

figure img {
  filter: drop-shadow(0.15em 0.15em 0.1em #eee);
}

/**
 * Tables.
 */

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th {
  text-align: left;
}

td, th {
  padding: 0.5em 2ch;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr + tr:last-child {
  border-bottom: 0px none;
}

td, th {
  border-right: 1px solid #ccc;
}

th + th:last-child,
td + td:last-child {
  border-right: 0px none;
}

thead tr,
tr:nth-child(even) {
  background-color: #efefef;
}

/**
 * Pre-formatted.
 */

samp, kbd,
code {
  padding: 0.5ch;
  background-color: #efefef;
}

kbd {
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 0.25ch;
  border: 1px solid #ccc;
  filter: drop-shadow(0 0.15em 0 #ccc);
  background-color: #fcfcfc;
}

.highlight code {
  padding: 0px;
  font-size: 0.95em;
  background-color: transparent;
}

/**
 * Quotes
 */

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  color: #888;
}

blockquote p {
  padding-left: 1ch;
  border-left: 1ch solid #d1642a;
}

/**
 * Article info.
 */

.article-info__topics li:after {
  content: ', ';
}

.article-info__topics li:last-of-type:before {
  content: ' and ';
}

.article-info__topics li:last-of-type:after {
  content: '';
}

.article-info__topics li:first-of-type:before {
  content: '';
}

/**
 * Social links.
 */

.social-links a {
  border-bottom: none;
}

.social-links a:hover {
  background-color: transparent;
}

.social-links svg {
  width: 1.2em;
}

.social-links path {
  transition: fill 200ms ease;
}

.social-link__twitter a:hover path {
  fill: #55acee;
}

.social-link__github a:hover path {
  fill: #4078c0;
}

.social-link__stackoverflow a:hover path {
  fill: #fe7a15;
}

.social-link__facebook a:hover path:first-child {
  fill: #395185;
}

.social-link__keybase a:hover path {
  fill: #ff7100;
}

.social-link__drupal a:hover path {
  fill: #0077c0;
}

.social-link__drupal a:hover path:nth-child(2),
.social-link__drupal a:hover path:nth-child(3),
.social-link__drupal a:hover path:nth-child(4),
.social-link__drupal a:hover path:nth-child(5),
.social-link__drupal a:hover path:nth-child(7),
.social-link__drupal a:hover path:nth-child(8) {
  fill: #f0f0f0;
}

.social-link__instagram a:hover path {
  fill: #cc39a2;
}

.social-link__youtube a:hover path:last-of-type {
  fill: #e52d27;
}
