/**
 * General
 */

body {
  background-color: #fdfcfa;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

/**
 * Links
 */

a:link,
a:active,
a:focus,
a:visited {
  color: #108084;
  /* color: #f94640; */
  text-decoration: none;
  border-bottom: 0.075em dotted #108084;
  /* border-bottom: 0.075em dotted #f94640; */
  transition: background-color 200ms ease;
}

a:hover {
  background-color: rgba(16, 128, 132, 0.05);
  /* background-color: rgba(249, 70, 64, 0.05); */
}

small {
  color: #999;
}

.highlight {
  color: #fff;
}

/**
 * Article info.
 */

.article-info__topics li:after {
  content: ', ';
}

.article-info__topics li:last-of-type:before {
  content: ' and ';
}

.article-info__topics li:last-of-type:after {
  content: '';
}

.article-info__topics li:first-of-type:before {
  content: '';
}
