<div class="article-info meta-info">
  <div class="u-author h-card"><a class="p-name u-url" href="/">{{ .Site.Author.name }}</a></div>
  <div class="article-info__published">
    Published <a class="u-url" href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></a>
    {{ if .Params.categories }}
      in
      {{ range .Params.categories }}
        <a class="p-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}

    {{ if .Params.topics }}
      <div class="article-info__topics">
        {{ $topicsCount := len ( .Params.topics ) }}
        {{ if gt $topicsCount 1 }}
          Topics:
        {{ end }}
        {{ if eq $topicsCount 1 }}
          Topic:
        {{ end }}
        <ul>
          {{ range .Params.topics }}
            <li><a class="p-category" href="/topics/{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

  {{ if .Resources.Match "game/*" }}{{ else }}<div class="article-info__reading">Reading time: {{ .ReadingTime }} {{ if gt .ReadingTime 1 }}minutes{{ end }}{{ if eq .ReadingTime 1 }}minute{{ end }}</div>{{ end }}
</div>
