<div class="article-info">
  <div class="article-info__published">
    Published <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ if .Params.categories }}
      in
      {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </div>

  {{ if .Params.topics }}
    <div class="article-info__topics">
      {{ $topicsCount := len ( .Params.topics ) }}
      {{ if gt $topicsCount 1 }}
        Topics:
      {{ end }}
      {{ if eq $topicsCount 1 }}
        Topic:
      {{ end }}
      <ul>
        {{ range .Params.topics }}
          <li><a href="/topics/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}

  <div class="article-info__reading">Reading time: {{ .ReadingTime }} {{ if gt .ReadingTime 1 }}minutes{{ end }}{{ if eq .ReadingTime 1 }}minute{{ end }}</div>
</div>
