{{ if .Params.syndicated }}
  <h2>This post syndicated to:</h2>
  <ul>
    {{ range .Params.syndicated }}
      {{ if in . "medium" }}
        <li><a class="u-syndication" href="{{ . }}">Medium</a></li>
      {{ else if in . "twitter" }}
        <li><a class="u-syndication" href="{{ . }}">Twitter</a></li>
      {{ else if in . "mastodon" }}
        <li><a class="u-syndication" href="{{ . }}">Mastodon</a></li>
      {{ else if in . "dev.to" }}
        <li><a class="u-syndication" href="{{ . }}">dev.to</a></li>
      {{ else if in . "news.ycombinator" }}
        <li><a class="u-syndication" href="{{ . }}">Hacker News</a></li>
      {{ else if in . "reddit" }}
        <li><a class="u-syndication" href="{{ . }}">Reddit</a></li>
      {{ else }}
        <li><a class="u-syndication" href="{{ . }}">{{ . }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
