{{ $csv := "/data/vinyl.csv" }}
{{ $sep := "," }}
<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{ range $i, $r := getCSV $sep $csv }}
        <tr>
          <td>
            <img width="100" height="100" src="/images/record-covers/{{ index $r 0 }}" alt="{{ index $r 1 }}">
          </td>
          <td>{{ index $r 1 }}</td>
          <td>{{ index $r 2 }}</td>
          <td>{{ index $r 3 }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
