<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/typeography.css">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/css/screenplay.css">
  <link rel="stylesheet" href="/css/monokai.css">
  <link rel="author" href="/humans.txt">
</head>
<body>
  <header>
    {{ block "header" . }}
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ end }}
  </header>
  <main>
    {{ block "main" . }}
      <!-- The part of the page that differs between templates -->
    {{ end }}
  </main>
  <footer>
    <small>&#169; Copyright {{ dateFormat "2006" .Lastmod }} {{ .Site.Params.author }}</small>
  </footer>
</body>
</html>
