<article class="featured">
  {{ $image := .Resources.GetMatch "header" }}
  {{ with $image }}
  {{ $thumbnail := $image.Fill "300x150" }}
  {{ with $thumbnail }}
    <img class="featured__image" src="{{ .Permalink }}" alt="">
  {{ end }}
  {{ end }}

  <div class="featured__content-wrapper">
    <h3><a class="featured__title" href="{{ if .Params.project_url }}{{ .Params.project_url }}{{ else }}{{ .Permalink }}{{ end }}">{{ if .Resources.Match "game/*" }}{{ emojify ":joystick:" }}{{ end }}
    {{ if .Params.draft }}<mark>Draft</mark>{{ end }}
    {{ title .Title }}</a></h3>

    {{ with .Params.subtitle }}<p class="featured__subtitle">{{ title . }}</p>{{ end }}

    {{ if eq .Type "article" }}
    <p class="meta-info">
      Published <a class="u-url" href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></a>
      {{ if .Params.categories }}
        in
        {{ range .Params.categories }}
          <a class="p-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </p>
    {{ end }}

    {{ with .Summary }}<p>{{ htmlUnescape . | plainify }}</p>{{ end }}
  </div>
</article>
