{{ define "main" }}

  {{ partial "breadcrumbs.html" . }}

  <h1>
    {{ $categoryEmojis := .Site.Params.categoryEmoji }}
    {{ $category := .Title }}
    {{ range $name, $data := $categoryEmojis }}
      {{ if in $category $name }}
        {{ .icon }}
      {{ end }}
    {{ end }}
    {{ title .Title }} {{ .Data.Singular }}
  </h1>

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}

  <footer>
    {{ partial "pagination.html" . }}
  </footer>

{{ end }}

