{{ define "main" }}

  {{ partial "breadcrumbs.html" . }}

  <section>
    <header>
      <h1>
        {{ if .Params.draft }}<mark>Draft</mark>{{ end }}

        {{ $categoryEmojis := .Site.Params.categoryEmoji }}
        {{ $baseurl := .Site.BaseURL }}
        {{ range .Params.categories }}
          {{ $category := . }}
          {{ range $name, $data := $categoryEmojis }}
            {{ if in ($category|lower) ($name|lower) }}
              <a class="category-emoji" title="{{ $name | title }} category" href="{{ $baseurl }}/{{ .url }}">{{ .icon }}</a>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ .Title }}
      </h1>
      {{ partial "toc" . }}
    </header>

    {{ .Content }}

    <footer>
      <a href="/{{ .Type }}">&larr; See all {{ .Type | pluralize }}</a>
    </footer>
  </section>

{{ end }}
