{{ define "main" }}

  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <div class="article-info">Published <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time> in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}<br>
      Estimated reading time: {{ .ReadingTime }} minutes</div>
    </header>
    {{ .Content }}
    <footer>
      {{ if .Params.tags }}
        <strong>Tags:</strong>
        <ul>
          {{ range .Params.tags }}
          <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      <nav>
        <ul class="article-navigation">
          {{ if .PrevInSection }}<li class="article-navigation__item article-navigation__prev"><a href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a></li>{{ end }}
          {{ if .NextInSection }}<li class="article-navigation__item article-navigation__next"><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a></li>{{ end }}
        </ul>
      </nav>
    </footer>
  </article>

{{ end }}
