{{ define "main" }}

  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <div class="article-info">Published <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time> in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}<br>
      Estimated reading time: {{ .ReadingTime }} minutes</div>
    </header>
    {{ .Content }}
    <footer>
      {{ if .Params.tags }}
        <strong>Tags:</strong>
        <ul>
          {{ range .Params.tags }}
          <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="article-navigation">
        {{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a>{{ end }}
        {{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a>{{ end }}
      </div>
    </footer>
  </article>

{{ end }}
