{{ define "main" }}

  {{ $taxonomy_title := .Title }}

  <h2>{{ title $taxonomy_title }}</h2>

  <ul class="{{ $taxonomy_title | lower | urlize }}">
    {{ $data := .Data }}
    {{ $categoryEmojis := .Site.Params.categoryEmoji }}
    {{ range $key, $value := .Data.Terms }}
      <li class="{{ $key | urlize }} list__item">
        {{ range $name, $data := $categoryEmojis }}
          {{ if in $key ($name|lower) }}
            <a class="category-emoji" title="{{ $name | title }} category" href="{{ $data.Plural }}/{{ $key }}">{{ .icon }}</a>
          {{ end }}
        {{ end }}
        <a href="/{{ $data.Plural }}/{{ $key | urlize }}">
          {{ if eq $taxonomy_title "Categories" }}
            {{ title $key }}
          {{ else }}
            {{ humanize $key | title }}
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>

{{ end }}
